@import "../../styles/abstract/variables";

$bg-colour: rgba(80, 80, 80, 0.74);

.message-box-wrapper {
    width: 60rem;
}
.message-container {
    z-index: 1;
    display: block;
    position: relative;
    height: 12rem;
    background-color: $bg-colour;
    margin-bottom: 2em;

    .profile {
        position: relative;
        margin-top: 1em;
    }

    .author-name {
        text-align: center;
        margin-top: 0.5em;
        color: rgb(0, 0, 0);
        cursor: pointer;
        font-weight: lighter;
    }

    &.inactive {
        background-color: darken($bg-colour, 50%);
    }

    &.first {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &.last {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .message-profile-icon {
        position: relative;
        background-color: black;
    }

    .message-wrapper {
        position: relative;
        margin-left: 3em;
        max-width: 83%;
        .message-content {
            overflow-x: hidden;
            overflow-wrap: break-word;
            white-space: pre-line;
            position: relative;
            color: rgb(255, 255, 255);
            width: 35em;
            padding-right: 1em;
            font-size: 1.4rem;
            height: 7.5rem;
            margin-top: 1rem;

            @at-root &-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .message-footer {
        display: flex;
        position: relative;

        .reply-button-wrapper {
            .reply-button {
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: rgb(255, 255, 255);
                font-size: 1.4rem;
                padding: 0;

                > .arrow {
                    position: relative;
                    top: 0.2em;
                    left: 1em;
                    width: 1em;
                    height: 1em;
                }
            }
        }

        &-date {
            font-weight: lighter;
        }
    }
}
