@import "../../styles/abstract/variables";

$bg-colour: rgba(221, 221, 221, 0.9);
.message-container {
    display: block;
    position: relative;
    width: 60em;
    height: 11rem;
    background-color: $bg-colour;
    border: rgb(161, 161, 161) solid 1px;

    &.inactive {
        background-color: darken($bg-colour, 50%);
    }

    &.first {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &.last {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .message-profile-icon {
        position: relative;
        background-color: black;
    }

    .message-wrapper {
        position: relative;
        margin-left: 3em;
        max-width: 83%;
        .message-content {
            overflow-x: hidden;
            overflow-wrap: break-word;
            white-space: pre-line;
            position: relative;
            color: black;
            width: 35em;
            padding-right: 1em;
            height: 7rem;
            margin-top: 1rem;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: $overflow-track-color;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #05608d;
            }

            @at-root &-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
            }
        }

        .message-footer {
            display: flex;
            position: absolute;
            & .reply-button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            &-author {
                color: gray;
            }

            &-reply {
                left: 35em;
            }
        }
    }
}
