@import "../../styles/abstract/variables";

$bg-colour: rgba(221, 221, 221, 0.9);
.message-container {
    display: block;
    position: relative;
    width: 60em;
    height: 10em;
    background-color: $bg-colour;
    border: rgb(161, 161, 161) solid 1px;

    &.inactive {
        background-color: darken($bg-colour, 50%);
    }

    &.first {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &.last {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .message-profile-icon {
        position: relative;
        top: 1.5em;
        left: 1.5em;
        background-color: black;
    }

    .message-wrapper {
        position: relative;
        left: 3em;
        max-width: 83%;
        height: 95%;

        .message-content {
            overflow-x: hidden;
            overflow-wrap: break-word;
            white-space: pre-line;
            position: relative;
            color: black;
            width: 35em;
            max-height: 4.5em;
            padding-right: 1em;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: $overflow-track-color;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #05608d;
            }

            @at-root &-wrapper {
                position: relative;
                top: 1em;
                display: flex;
                flex-direction: column;
                min-height: 7.5em;
            }
        }

        .message-footer {
            &-author {
                margin-top: 1em;
                position: relative;
                color: gray;
            }

            &-reply {
                position: relative;
                left: 35em;
            }
        }
    }
}
