.button {
    padding: 0;
    text-align: left;
    display: block;
}

.dim {
    // background-color: yellow;
    // color: blue;
    filter: grayscale(80%);
    filter: blur(1px);
    transform: scale(0.9);
}
