$task-height: 100px;
$aim-box-height: 250px;
$top-section-width: 600px;

.task-container {
    display: flex;
    width: $top-section-width;
    height: $task-height;
    resize: none;
    background-color: white;
    color: black;
    border-radius: 2px;
    margin: auto;
    text-align: left;
    outline: 1px solid black;
    padding: 10px 20px;

    .heading-container {
        .heading {
            font-size: 1.7rem;
            line-height: $task-height - 20px;
        }
    }
    .description-container {
        width: 100%;
        padding: 10px;
    }
    .task-description {
        margin: 0;
        text-align: center;
        font-size: 1rem;
    }
}

.start-button {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
}
