@import "../../../styles/abstract/variables";

$bg-colour: rgba(80, 80, 80, 0.74);

.profile {
    position: relative;
    margin-top: 1em;
}

.author-name {
    text-align: center;
    margin-top: 0.5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: lighter;
}

.message-profile-icon {
    position: relative;
    background-color: black;
}

.message-wrapper {
    position: relative;
    margin-left: 3em;
    max-width: 83%;
    .message-content {
        overflow-x: hidden;
        overflow-wrap: break-word;
        white-space: pre-line;
        position: relative;
        color: rgb(255, 255, 255);
        width: 35em;
        padding-right: 1em;
        font-size: 1.4rem;
        height: 7.5rem;
        margin-top: 1rem;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $overflow-track-color;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #05608d;
        }

        @at-root &-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }
}
