@import "gradients";
@import "../abstract/variables";

.text-heading-gradient {
    background: $text-heading-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.75s;

    &.with-hover:hover &-title {
        background: $text-heading-hover-gradient;
        opacity: 1;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text-important-gradient {
    background: $text-important-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.75s;
}

.button-moonlit-gradient {
    background: linear-gradient(135deg, rgba(182, 200, 218, 0.8), rgb(182, 174, 174));
    transition: 0.2s ease-in-out;

    &:hover {
        background: linear-gradient(
            135deg,
            lighten(rgba(182, 200, 218, 0.3), 10%),
            lighten(rgba(182, 174, 174, 0.5), 10%)
        );
    }
}

.modal-card {
    border-radius: 15px;

    &:hover &-info {
        background: black;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.scrollbar {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: lighten($color-base, 15%);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #05608d;
    }
}

.scrollbar-x {
    overflow-x: auto;
    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: lighten($color-base, 15%);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #05608d;
    }
}
