$background-dark: #030013;
$background-pink: #ec38bc;
$background-light: #fdeff9;

$text-cyan: #00a2ff;
$text-cyan-light: lighten($text-cyan, 25%);
$text-purple: #a51eff;
$text-purple-light: lighten($text-purple, 20%);
