.text-3xs {
    font-size: 1rem;
}

.text-xxs {
    font-size: 1.2rem;
}

.text-xs {
    font-size: 1.3rem;
}

.text-sm {
    font-size: 1.4rem;
}

.text-md {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.6rem;
}
.text-xl {
    font-size: 1.7rem;
}

.text-2x {
    font-size: 1.8rem;
}

.text-3x {
    font-size: 1.9rem;
}

.text-4x {
    font-size: 2rem;
}

.text-xxl {
    font-size: 3rem;
}

.text-title {
    font-size: 4.5rem;
}

.text-head {
    font-size: 6rem;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.font-lighter {
    font-weight: lighter;
}

.full-height {
    height: 100%;
}
