@mixin style-centre-home-container {
    position: block;
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: 35rem;
    height: 20rem;
    background-color: rgb(87, 250, 231);
    color: black;
    border-radius: 3px;
    padding: 15px;
    overflow: hidden;
    font-size: 1.2rem;

    @media screen and (max-width: 1700px) {
        width: 35rem;
        margin-right: 7%;
    }

    @media screen and (max-width: 600px) {
        width: 30rem;
    }

    @media screen and (max-width: 500px) {
        width: 25rem;
    }
}

// @mixin get

@mixin get-create-project-content-width {
    width: 700px;

    @media screen and (max-width: 900px) {
        width: 600px;
    }
}

@mixin mobile-tablet-only {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

@mixin flex-responsive {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1600px) {
        flex-direction: column;
    }
}

@mixin centerItemAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
