.button {
    padding: 0;
    text-align: left;
    display: block;
}

.dim {
    filter: grayscale(80%);
    filter: blur(1px);
    transform: scale(0.9);
}

.context-button-content {
    writing-mode: vertical-lr;
}

.context-button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;

    &:not(.switched) {
        &:hover {
            color: rgb(27, 240, 255);
            margin-right: 1.5em;
        }
    }

    &.switched {
        color: rgb(27, 240, 255);
        margin-right: 1.5em;
    }
}

.thread {
    flex: 1;
    height: 10em;
    width: 65em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    &.no-switch {
        position: relative;
        left: 1.7em;
    }
}

.subthread {
    position: relative;
    // left: 10em;
    // top: 10em;
}

.switch {
    position: relative;
    right: 0.2em;
}

.message-container {
    display: inline-block;
}
