@import "../../../abstract/mixins";
@import "../../../abstract/variables";

$color-1: lighten($color-base, 15%);
$color-border: darken($color-base, 60%);
$color-text: lighten($color-base, 90%);
$color-text-placeholder: darken($color-text, 20%);

.project-page {
    align-items: center;
}

.project-title {
    text-align: center;
    font-size: 60px;
    color: white;
    text-decoration: underline;
}

.content-wrapper {
    margin: auto;
    width: 75%;
}

.project-content {
    margin-top: 5rem;
    justify-content: space-between;
    @include flex-responsive;
}

.tasks-container {
    position: relative;
    top: 5.3em;
    margin-left: 20em;
    min-height: 45em;
    background-color: $color-1;
    border: solid 5px;
    border-color: rgba($color-border, 0.6);
    border-radius: 14px;

    > .tasks {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        position: relative;
        opacity: 1;
        min-width: 65em;
        max-width: 65em;
        min-height: 37.5em;
        max-height: 37.5em;
        z-index: 1;
    }

    .tasks::-webkit-scrollbar {
        width: 5px;
    }

    .tasks::-webkit-scrollbar-track {
        background: $color-1;
    }

    .tasks::-webkit-scrollbar-thumb {
        background: #000000;
    }

    .tasks::-webkit-scrollbar-thumb:hover {
        background: #05608d;
    }

    > h1 {
        position: relative;
        bottom: 50%;
        z-index: 2;
        opacity: 1;
        color: white;
        text-align: center;
    }

    > .create-task-button {
        justify-self: center;
        z-index: 2;

        @at-root &-wrapper {
            display: flex;
            border: solid 3px;
            border-left: none;
            border-right: none;
            border-color: rgba($color-border, 0.6);
            height: 7em;
        }
    }
}

.project-description {
    position: relative;
    text-align: left;
    color: white;
    font-size: x-large;
    margin: auto;
    width: 40em;
    max-height: 20em;
    white-space: nowrap;

    &-text {
        @at-root &-wrapper {
            background-color: rgb(27, 26, 26);
            border: 1px solid rgb(156, 156, 156);
            border-radius: 15px;
            width: 20em;
            height: 15em;
        }

        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        max-width: 90%;
        position: relative;
        top: 1em;
        left: 1.5em;
        line-height: 1.8em;
    }
}

.project-description,
.tasks-container {
    display: inline-block;
}

.messages-container {
    .message-send {
        background: rgba(115, 3, 192, 0.5);
        position: relative;
        border-radius: 10px;
        transition: background 0.5s;

        &:hover {
            background: rgba(115, 3, 192, 0.2);
        }
    }

    .message-input {
        @at-root &-wrapper {
            z-index: 1;
            display: inline-flex;
            position: relative;
            width: 100em;
            height: 5em;
            top: 10em;
        }

        overflow-x: hidden;
        position: relative;
        width: 95em;
        height: 4em;
        resize: none;
        border-radius: 10px;
        outline: none;
        background: rgba(128, 128, 128, 0.5);
        padding-left: 1em;
        padding-top: 0.6em;
    }

    .messages {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        top: 10em;
        width: 100%;
        min-height: 20em;
        margin-bottom: 16em;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);

        .message {
            position: relative;
            left: 2em;
            margin-top: 3em;
            margin-bottom: 3em;
        }
    }
}
