@import "../../../abstract/mixins";
@import "../../../abstract/variables";

$color-1: lighten($color-base, 15%);
$color-border: darken($color-base, 60%);
$color-text: lighten($color-base, 90%);
$color-text-placeholder: darken($color-text, 20%);

.project-page {
    align-items: center;
}

.project-title {
    text-align: center;
    font-size: 60px;
    color: white;
    text-decoration: underline;
}

.content-wrapper {
    margin: auto;
    width: 75%;
}

.project-content {
    margin-top: 5rem;
    justify-content: space-between;
    @include flex-responsive;
}

.tasks-container {
    position: relative;
    top: 5.3em;
    margin-left: 20em;

    > .tasks {
        display: flex;
        flex-direction: column;
        position: relative;
        border: solid 5px;
        border-image-repeat: none;
        border-color: rgba($color-border, 0.6);
        border-radius: 14px;
        background-color: $color-1;
        opacity: 1;
        min-width: 60em;
        min-height: 37.5em;
        z-index: 1;
    }

    > h1 {
        position: relative;
        bottom: 50%;
        z-index: 2;
        opacity: 1;
        color: white;
        text-align: center;
    }

    > .create-task-button {
        position: relative;
        bottom: 25%;
        left: 37.5%;
        z-index: 2;
    }
}

.project-description {
    position: relative;
    text-align: left;
    color: white;
    font-size: x-large;
    margin: auto;
    width: 25em;

    .project-description-text-wrapper {
        background-color: rgb(27, 26, 26);
        height: 15em;
        border: 1px solid rgb(156, 156, 156);
        border-radius: 15px;
    }

    .project-description-text {
        position: relative;
        left: 1em;
        font-size: larger;
        color: gray;
    }
}

.project-description,
.tasks-container {
    display: inline-block;
}

.messages-container {
    background-color: gray;
    position: relative;
    top: 10em;
    width: 100em;
    height: 10em;
    margin-bottom: 16em;
    border-radius: 10px;
}
